@import "../App.scss";

.page {
  display: grid;
  grid-template-rows: max-content 1fr;
  overflow-x: hidden;

}

.body-page {
  background-color: var(--lighter-gray);
  margin-top: 0;
  min-height: 100%;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 4fr 1.5fr;
  width: 100vw;
  justify-content: space-evenly;
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--light-gray);
  height: calc(100% - 2px);
}

.menuButton {
  grid-column-start: 1;
  justify-self: start;
  margin: 0 0 0 0.5em;
  align-self: center;
  padding: 4px;
  height: max-content;
  background-color: transparent;

  @include largePhones {

  }

  @include tablet {

  }

  @include laptop {

  }

  @include desktop {
    margin: 0 0 0 1em;
  }

  @include wideScreen {
    margin: 0 0 0 1.5em;
  }

}

.menuButton:hover {
  padding: 1px;
  cursor: pointer;
}

.menuLines {
  width: 20px;
  height: 2px;
  background-color: black;
  margin: 4px 0;
  border-radius: 30px;

  @include tablet {
    width: 30px;
    height: 3px;
    margin: 5px 0;
  }

  @include laptop {

  }

  @include desktop {
    width: 40px;
    height: 4px;
    margin: 6px 0;
  }

  @include wideScreen {
    width: 60px;
    height: 6px;
    margin: 8px 0;
  }
}

.RecommenderTitle {
  margin: .5em 0 .5em 0;
  color: var(--black);
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
  font-size: 25px;

  a:hover {
    text-decoration: none;
  }

  @include tablet {
    font-size: 32px;
  }

  @include desktop {
    font-size: 42px;
    //margin: 0;
  }

  @include wideScreen {
    font-size: 80px;
    //padding: 1em 0 1em 0;
  }
}


#create-rec-button {
  background-color: var(--accent-color);
  border-radius: 30px;
  width: max-content;
  max-width: 80%;
  height: max-content;
  align-self: center;
  justify-self: end;
  font-size: 10px;
  margin: 0 10% 0 0;
  padding: 0.5em .5em .5em .5em;
  color: var(--light-gray);

  @include largePhones {
    font-size: 12px;
  }

  @include tablet {
    font-size: 16px;
  }

  @include laptop {

  }

  @include desktop {
    font-size: 24px;
  }

  @include wideScreen {
    font-size: 36px;
  }
}

#create-rec-button:hover {
  background-color: var(--accent-color-opaque);
  text-decoration: none;
}
