

.menu-links {
  list-style-type: none;
}

li {
  padding: 0 4vw 0 0;
  margin: 7vh 0 2vh 0;
}

a, .userButton {
  text-decoration: none;
  color: var(--black);
}

a:hover, #userButton:hover {
  text-decoration: underline;
  cursor: pointer;
}


#create-rec-button {
  background-color: var(--accent-color);
  border-radius: 30px;
  padding: 3vh 4vw 3vh 4vw;
  color: var(--light-gray)
}

#create-rec-button:hover {
  background-color: var(--accent-color-opaque);
  text-decoration: none;
}