
.page-header {
  margin-top: 0;
}

.myAccount {
  display: flex;
  flex-direction: column;
}

.myAccountItemTitle {
  display: inline;
  margin: 3vh;
}

.myAccountItem {
  font-size: 15px;
  display: inline;
}
