@import "../App";

:root {
  --movie: #732832;
  --tvshow: #903203;
  --music: #046294;
  --book: #5cb2d4;
  --rest: #329832;
  --game: #052236;
  --other: #67532b;
}

.rec {
  width: 90%;
  position: relative;
  left: 5%;
  margin: 1em 0 1em 0;
  height: max-content;
  border-radius: 15px;
  background-color: var(--light-gray);
  box-shadow: 1px 1px 10px 1px;

  &.Movie {
    border: 2px solid var(--movie);
  }

  &.TVShow {
    border: 2px solid var(--tvshow);
  }

  &.Music {
    border: 2px solid var(--music);
  }

  &.Games {
    border: 2px solid var(--game);
  }

  &.Restaurant {
    border: 2px solid var(--rest);
  }

  &.Book {
    border: 2px solid var(--book);
  }

  &.Other {
    border: 2px solid var(--other);
  }
}

.recType {
  position: absolute;
  margin: 0;
  top: .5em;
  left: 1em;
  font-size: 14px;

  @include largePhones {

  }

  @include tablet {
    font-size: 16px;
  }

  @include laptop {

  }

  @include desktop {
    font-size: 20px;
  }

  @include wideScreen {
    font-size: 36px;
  }
}

.recTitle {
  position: relative;
  top: 1.5em;
  font-size: 18px;
  margin: 0;


  @include tablet {
    top: 1em;
    font-size: 20px;
    margin-bottom: .5em;
  }

  @include laptop {
  }

  @include desktop {
    font-size: 24px;
  }

  @include wideScreen {
    font-size: 42px;
  }
}

.sentFrom {
  font-size: 12px;
  margin: 2.5em 1em 1em 1em;

  @include largePhones {

  }

  @include tablet {
    font-size: 13px;
    margin-top: 2em;
  }

  @include laptop {

  }

  @include desktop {
    font-size: 15px;

  }

  @include wideScreen {
    font-size: 26px;
  }
}

.overview {
  font-size: 14px;
  margin: 1em 1em 1em 1em;

  @include largePhones {

  }

  @include tablet {
    font-size: 15px;
  }

  @include laptop {

  }

  @include desktop {
    font-size: 18px;
  }

  @include wideScreen {
    font-size: 32px;
  }
}

.recItems {
  font-size: 13px;
  margin: 1em 1em 1em 1em;

  @include largePhones {
  }

  @include tablet {
    font-size: 14px;
  }

  @include laptop {
  }

  @include desktop {
    font-size: 16px;
  }

  @include wideScreen {
    font-size: 30px;
  }
}